<div class="modal-header">
	<button type="button" class="close" ng-click="closelogin()">×</button>
	<h3 id="myModalLabel">Modal header</h3>
</div>
<div class="modal-body">
	<form name="loginmodule" ng-submit="submit()">
		<input class="span3" type="email" placeholder="email" value ng-model="email_col" name="email">
		<input class="span3" type="password" placeholder="password" value ng-model="pwd_col" name="password">
		<input type="submit" class="btn" id="submit" value="Login"> 
	</form>
</div>
<div class="modal-footer">
	<button class="btn" ng-click="closelogin()">	Close
	</button>
	
</div>